html,
body {
  background-color: #ffeead;
  box-sizing: border-box;
}
body {
  padding: 10px;
}

.container {
  border: 5px solid #ffcc5c;
  color: #ffeead;
}
.container > li:nth-of-type(even) {
  background-color: #ff6f69;
}
.container > li:nth-of-type(odd) {
  background-color: #88d8b0;
}
li a {
  text-decoration: none;
  color: currentColor;
  transition: filter 0.2s;
}

li a:hover {
  filter: brightness(120%);
}
