.container {
    border: 5px solid #FFCC5C;
    display: flex;
}

/****** positive ********/
/*
.item1 {
    order: 2;
}

.item2{
    order: 1;
}

.item3 {
    order: 0;
}
*/
/****** negative ********/
/*
.item1 {
    order: -1;
}

.item2{
    order: -2;
}

.item3 {
    order: -3;
}
*/
/****** positive and negative ********/
.item1 {
    order: 1;
}

.item2{
    order: 0;
}

.item3 {
    order: -1;
}